<?xml version="1.0" ?>
<robot name="differential_drive_gazebo_setup" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="body">
        <sensor name="imu_sensor" type="imu">
            <update_rate>10</update_rate>
            <always_on>1</always_on>
            <visualize>1</visualize>
            <topic>/model/ROBOT_NAME_PLACEHOLDER/imu</topic>
        </sensor>
    </gazebo>

    <gazebo>
        <plugin 
        filename="gz-sim-diff-drive-system"
        name="gz::sim::systems::DiffDrive">
            <left_joint>back_left_wheel_joint</left_joint>
            <right_joint>back_right_wheel_joint</right_joint>

            <wheel_separation>${body_y}</wheel_separation>
            <wheel_radius>${wheel_r}</wheel_radius>

            <max_linear_acceleration>1.0</max_linear_acceleration>

            <topic>/model/ROBOT_NAME_PLACEHOLDER/cmd_vel</topic>
            <odom_topic>/model/ROBOT_NAME_PLACEHOLDER/odom</odom_topic>
            <tf_topic>/model/ROBOT_NAME_PLACEHOLDER/tf</tf_topic>

            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>

            <publish_wheel_tf>true</publish_wheel_tf>
            <publish_wheel_joint_state>true</publish_wheel_joint_state>
        </plugin>
    </gazebo>
    <gazebo reference="caster_wheel">
        <mu1>0.01</mu1>
        <mu2>0.01</mu2>
    </gazebo>

    <gazebo reference="laser_frame">
        <sensor name="lidar" type="gpu_lidar">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>/model/ROBOT_NAME_PLACEHOLDER/scan</topic>
            <gz_frame_id>ROBOT_NAME_PLACEHOLDER/laser_frame</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-${pi}</min_angle>
                        <max_angle>${pi}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <max>10</max>
                    <min>0.12</min>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
        </sensor>
    </gazebo>
    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
                <topic>/model/ROBOT_NAME_PLACEHOLDER/joint_states</topic>
        </plugin>
    </gazebo>

</robot>
